html {
	font-size:16px;
	text-align: center;
}

body {
	font-family: calibri;
	/*background-image:linear-gradient(#00c4ff, #ffbd8f);*/
	height:100vh;
	padding:0;
	margin:1rem 0 0 0;
	box-sizing: border-box;
}

header {
	display: grid;
	grid-template-columns: repeat(3,1fr);
}

header>div {
	padding:1rem;
}

h1 {
	margin-top: 0;
	margin-bottom: 0;
}

#wrapper {
	width:1000px;
	margin:auto;
}

main {
	/*margin-top: 2rem;*/
	background-color: #fff;
	display: grid;
	/*height: 390px;*/
	/*width: 700px;*/
	/*grid-template-columns: 250px 350px 250px;*/
	grid-template-columns: 1fr;
	grid-template-rows: 155px 120px 265px;
	position: relative;
	border-radius: 20px;
	border:2px solid red;
}

main>div {
	/*border:1px solid black;*/
	position: relative;
}

main:before, main:after {
	content: "";
	height:100%;
	width:300px;
	background-color: #ededed99;
	position:absolute;
	top:0;
	z-index: 10;
}

main:before {
	left:0;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;

}

main:after {
	right:0;
	border-top-right-radius-radius: 20px;
	border-top-right-radius: 20px;
}

#lineup {
	margin-top: 2rem;
	background-color: #fff;
	height: 130px;
	width: 600px;
	border:1px solid black;
	box-sizing: border-box;
}

img {
	position: absolute;
	left:0;
	opacity: 0;
  }

.top {
	bottom:20px;
}

.middle {
	height:100%;
}

.bottom {
	top:20px;
}

.centered {
    transform: translateX(-50%);
}

